    <div>
       <h2>Welcome to Friends page</h2> 
    </div>
    <div class="form-control">
        <input type="text" placeholder="Search..." [(ngModel)]="searchStr" (input)="onChange($event)">
    </div>
    <div class="block" *ngIf="flag">
        <h3 class="text-center">Your Friends</h3>
        <div class="friends" *ngFor="let friend of friends">
            <div class="card">
                <div>
                    <h2>{{friend.name}}</h2>
                </div>
                
                <button type="button" (click)="remove(friend.name)" class="remove">
                    Remove from Friends
                </button>
            </div>
        </div>
    </div>
    <div class="block">
        <h3 class="text-center">All Players</h3>
        <div *ngFor="let friend of friendsAll | searchFriends: searchStr">
            <div class="form-control friend">
                <div>
                    <p>{{friend.name}}</p>
                </div>
                <button type="button" (click)="add(friend.name)" class="btn2" *ngIf="!friend.added">
                    Add a Friend
                </button>
            </div>
        </div>
    </div>

